* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	--Color1: #406082;
	--Color2: #ff4727;
	--Color3: #672d60;
	--Color4: #fffbfa;
	font-family: "Roboto", sans-serif;
}
Header, Footer{
    width:100vw;
    height: 5vh;
    background-color: var(--Color3);
    color:var(--Color4);
    overflow-y: hidden;
}
Main{
    width: 100vw;
    height: 90vh;
    background-color: lightyellow;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}
Header, Footer{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
button,input{
    padding: 2px;
}
Footer{
    padding-top:5px; 
}
.DivMSG{
    display: none;
}
@media only screen and (max-width: 900px) {
    .DivMSG{
        width: 100vw;
        height: 100vh;
        display: flex;
        font-size: x-large;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    Header, Footer, Table{
        display: none;
    }
}